@import url("https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css");

body {
    background: rgb(50, 0, 50);
    color: black;
    font-family: "Roboto Condensed";
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    padding: 20px 40px;
    background: black;
    color: white;
    width: 100%;
}

.content h1 {
    text-transform: uppercase;
    font-weight: lighter;
    background: black;
    color: white;
    margin: 0;
    padding: 20px;
}

header h1 {
    color: purple;
    font-size: 250%;
    line-height: 1em;
    font-weight: bold;
}

header h2 {
    color: white;
    margin: 0;
    font-size: 150%;
    line-height: 1em;
    width: 40%;
    font-weight: normal;
}

.content {
    padding: 2%;  
}

.gallery {
    width: 100%;
    height: 40vw;
    overflow: hidden;
    background: darkslateblue;
    margin-bottom: 40px;
}

.image_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image_container img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.gallery_buttons {
    position: absolute;
    width: 96%;
    margin-top: -80px;
    text-align: center;
}

.gallery_buttons ul li {
    list-style: none;
    display: inline-block;
}

.gallery_buttons ul li a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    line-height: 1.2em;
    width: 20px;
    height: 20px;
    clip-path: circle(10px at center);
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
}

.gallery_buttons ul li a.active {
    color: white;
    background: white;
}

.gallery_buttons ul li a:hover {
    color: white;
    background: white;
}