.sticky {
	position: sticky;
	top: 0;
}

body {
	background: black;
	font-size: 20px;
	font-family: 'Quicksand';
	color: white;
	padding: 0;
	margin: 0;
}

header {
	position: sticky;
	top: 0;
	padding: 10px;
	background: white;
	color: black;
	height: auto;
	line-height: 1em;
}

#title {
	font-size: 30px;
	line-height: 1em;
	margin: 0;
}

#subtitle {
	font-size: 20px;
	font-weight: lighter;
	margin: 0;
}

nav#topnav.vertical {
	transition: 0.5s;
}

nav#topnav.vertical ul {
	list-style: none;
	margin: 0;
	padding: 20px 0 20px 0;
}

nav#topnav.vertical ul li {
	padding: 20px 0 20px 0;
}

nav.horizontal {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	line-height: 70px;
}

nav.horizontal ul {
	padding: 0;
	padding-right: 10px;
	margin: 0;
}

nav.horizontal ul li {
	display: inline;
}

nav a {
	color: black;
	text-decoration: none;
	padding-left: 15px;
}

nav a:hover {
	color: purple;
	text-decoration: underline;
}

nav a:active, a:focus {
    border: none;
    outline: 0;
}

#menu-button {
	top: 0;
	right: 0;
	line-height: 70px;
	padding-right: 25px;
	padding-left: 25px;
	position: absolute;
	display: none;
	color: black;
	text-decoration: none;
	font-family: 'iconmonstr-iconic-font';
}

#menu-button:hover {
	background: black;
	color: white;
}

@media screen and (max-width: 720px) {
	#menu-button {
		display: block;
	}
	nav.horizontal {
		transition: none;
		transform: scaleY(0);
	}
}

.content {
	padding: 10px;
}